/* Reset */
* {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
    background: transparent;
    list-style: none;
  
  }
  
  
  :root {
    --azul-1: #028DD0;
    --azul-2: #04328E;
    --azul-3: #009dff;
    --vermelho: rgb(251, 4, 4);
    --botao-laranja: #f19a0e;
    --branca: #ffffff;
    --preta: #111111;
    --texto-title: #555555;
    --bg-branco-2: #edf2f7;
    --bg-branco-3: #f2f2f2;
    --bg-cinza: #f5f5f5;
    --bg-cinza-2: #d3d7d6;
    --bg-cinza-3: #888;
    --opacidade-1: rgba(0, 0, 0, 0.4);
    --opacidade-2: rgba(0, 0, 0, 0.5);
    --linha-header: #e1e9ed28;
    --instagram: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    --whatsapp: #075e54;
    --facebook: #3b5998;
    --linkedin: #0e76a8;
  }
  
  :root {
    --shadow: 0 4px 4px 0 rgba(25, 67, 182, 0);
    --shadow-1: 0 1px 0 0 #028bd071;
    --shadow-2: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  
  :root {
    --button-padding: 8px 15px;
    --button-border-radius: 5px;
    --card-radius: 10px;
  
  }

  form {
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px; /* EspaÃ§o entre os elementos */
  }


  label {
    font-weight: bold;
    
  }

  input {
    padding: 15px 100px 10px 10px;
    font-size: 17px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
  }

  .submit {
    display: flex;
    background-color: #f9b233;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    border: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;

  }

  .conta {
    display: flex;
    background-color: #ffffff;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    border: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;

  }

  .conta a{
    color: black;
  }

  .submit:hover {
    background-color: #ffffff;
    transition: 0.5s;
  }

  .conta:hover {
    background-color: #f9b233;
    transition: 0.5s;
  }

  .conta-create{
    margin: 0 auto;
    background-color: #faf8f8;
    padding: 150px 10px 100px 100px;
    display: flex;
  }

  .criar-conta{
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 auto;
    padding: 50px 50px 50px 50px;
  }

  .criar-conta h2{
    color: rgb(0, 0, 0);
    margin-top: -20px;
    padding-bottom: 50px;
    text-align: center;
  }

  .criar-conta p{
    font-size: 9px;
  }

  .criar-conta p a{
    color: black;
  }

  .criar-conta p a:hover{
    color: #f9b233;
    transition: 0.5s;
  }

  .criar-conta span{
    margin-top: -10px;
    font-size: 10px;
  }

  .required-asterisk{
    color: red;
    font-size: 0.8em;
    vertical-align: super;
  }

  