/* Resetando todos os estilos */
* {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
  background: transparent;
  list-style: none;

}

/* Resetando o root */

:root {
  --azul-1: #028DD0;
  --azul-2: #04328E;
  --azul-3: #009dff;
  --vermelho: rgb(251, 4, 4);
  --botao-laranja: #f9b233;
  --branca: #ffffff;
  --preta: #111111;
  --texto-title: #555555;
  --bg-branco-2: #edf2f7;
  --bg-branco-3: #f2f2f2;
  --bg-cinza: #f5f5f5;
  --bg-cinza-2: #d3d7d6;
  --bg-cinza-3: #888;
  --opacidade-1: rgba(0, 0, 0, 0.4);
  --opacidade-2: rgba(0, 0, 0, 0.5);
  --linha-header: #e1e9ed28;
  --instagram: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
  --whatsapp: #075e54;
  --facebook: #3b5998;
  --linkedin: #0e76a8;
}

:root {
  --shadow: 0 4px 4px 0 rgba(25, 67, 182, 0);
  --shadow-1: 0 1px 0 0 #028bd071;
  --shadow-2: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

:root {
  --button-padding: 8px 15px;
  --button-border-radius: 5px;
  --card-radius: 10px;
  --background-color: #f0f0f0;

}

/* estilizando o header-cabeÃ§alho */

.navbar {

  background: var(--botao-laranja);
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  max-width: 100%;
  z-index: 1000;


}

.conteudo-header {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;


}

.lado-esquerdo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo img {
  max-width: 40px;
  border-radius: 50%;
}

.lado-direito {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.lado-direito a {
  padding: 8px;
  border-radius: 3px;
  background-color: var(--branca);
}

.lado-direito a:hover {
  background-color: var(--preta);
  color: var(--branca);
  transition: 2s;
}

.desktop-menu a {
  margin-left: 1rem;
  text-decoration: none;
  color: var(--preta);
}

.vender-btn a {
  background-color: #000000;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
}

.vender-btn a:hover {
  background-color: var(--branca);
  transition: 2s;
  color: var(--preta);
}


/* Menu toggle */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: relative;

}

#hamburger-icon span {
  width: 25px;
  height: 3px;
  background-color: #022b2f;
  margin: 4px 0;
  transition: all 0.3s ease;
  display: block;
}

#icone-fechar {
  font-size: 28px;
  color: #022b2f;
  display: none;
}

/* Mobile menu dropdown */
.menu {
  display: none;
  flex-direction: column;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  padding: 0 1rem;
}

.menu.open {
  max-height: 200px;
}

.menu a {
  padding: 1rem 0;
  text-decoration: none;
  color: #000000;
  border-bottom: 1px solid #ddd;
}

/* Responsivo */
@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }


  .desktop-menu a {
    display: none;
  }

  .desktop-menu button a {
    display: block;
  }

  .menu {
    display: flex;
  }
}

/* end header */





/* Estilo do banner */
.banner {
  text-align: center;
  padding: 10rem 10rem;
  background: url() center/cover no-repeat;
  color: white;
  background-color: #2d3436;
}

.banner h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.banner h1,
.banner p {
  margin: 1rem 0;
  color: #000;
}

.banner button {
  margin-top: 1rem;
  padding: 0.7rem 1.5rem;
  border: none;
  background-color: #000;
  color: #f9b233;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

/* end banner */






/* estilizando a sessÃ£o pesquisa */
.pesquisa {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 40px 0;
}

.pesquisa input {
  padding: 15px 200px 15px 15px;
  border: 1px solid #000000;
  border-radius: 5px;

}

.pesquisa button {
  background-color: #f9b233;
  color: var(--preta);
  padding: 15px 15px 15px 15px;
  border-radius: 5px;
  cursor: pointer;

}

.pesquisa button:hover {
  color: white;
  border: 1px solid var(--preta);
  transition: 1s;
}

/* end pesquisa */






/* Estilizando a sessao Destaques */


.destaques {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0px 0px;
  background-color: #f5f5f5;
}

.destaques h2 {
  background-color: #f9b233;
  padding: 10px;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 5px;
}

.destaques .sessao-vendas h3 {
  padding-top: 20px;
  font-weight: bold;
  font-size: 1.25rem;
}

.destaques .sessao-vendas .produtos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding-top: 20px;
}

.destaques .sessao-vendas .produtos .produtos-produtos {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.8s ease;
}

.destaques .sessao-vendas .produtos .produtos-produtos:hover {
  transform: translateY(-5px);
}

.destaques .sessao-vendas .produtos .produtos-produtos img {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 5px;
}

.destaques .sessao-vendas .produtos .produtos-produtos p {
  margin-bottom: 3px;
  text-align: left;
}

.destaques .sessao-vendas .produtos .produtos-produtos .preco {
  font-weight: bold;
  color: #333;
  font-size: 1.1rem;
}




/* end a sessao Destaques */

.anuncio {
  text-align: left;
  margin-top: 1rem;
  padding-bottom: 1rem;
}

.btn-anuncio {
  background-color: #f9b233;
  border: none;
  padding: 5px;
  font-size: 0.8rem;
  color: #000000;
  border-radius: 3px;
  cursor: pointer;
  border: 0.5px solid black;
}

.btn-anuncio a {
  color: black;
}

.btn-anuncio:hover {
  background-color: #ffffff;
  transition: 1s;
  border: 0.5px solid rgb(255, 255, 255);
}





/* Responsivo */
@media (max-width: 600px) {
  nav ul {
    flex-direction: column;
    gap: 10px;
  }

  .pesquisa input {
    padding: 15px 100px 15px 15px;
    border: 1px solid #000000;
    border-radius: 5px;

  }

  .destaques h2 {
    margin: 0 auto;
    max-width: 100%;

  }

  .anuncio {
    flex-direction: column;
    align-items: flex-start;

  }

  .categoria-lista {
    flex-direction: column;

  }

  .destaques .sessao-vendas h3 {
    margin-left: 10px;
  }

  .destaques .sessao-vendas .produtos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    margin: 0 auto;
    padding-top: 10px;

  }
}

@media (max-width: 480px) {

  .pesquisa input {
    padding: 15px 50px 15px 15px;
    border: 1px solid #000000;
    border-radius: 5px;
  }
  
}